@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
.nav {
  padding: 10px 5%;
  background: #292929;
  align-items: center;
  display: flex;

  p {
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #ffffff;
    width: fit-content;
  }
}
.header {
  background: url("../../resource/header.svg");
  background-position: center;
  background-size: cover;
  padding: 75px 5%;
  h1 {
    max-width: 400px;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    letter-spacing: -0.05em;
  }
}
.search {
  padding: 20px 5%;
  p {
    padding: 10px 0;
  }
  .form-item {
    display: flex;
    width: 100%;
    border: 2px solid rgba(84, 95, 125, 0.15);

    input {
      width: 85%;
      padding: 10px 5px;
      border: 0px;
      &:focus {
        outline: none !important;
      }
    }
    button {
      width: 15%;
      border: 0px;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      img {
        width: 15px;
      }
    }
  }
}
.categories {
  padding: 20px 5%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  div {
    width: 300px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 31px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
  }
}
@media screen and (max-width: 834px) {
  .header {
    align-items: center;
    h1 {
      text-align: center;
      width: fit-content;
    }
  }
}
